.card {
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  transition: 0.3s;
  width: 15rem;
  height: 20rem;
  color: #009688;
  background-color: #b2dfdb;
  border-radius: 10px;
  border: solid 10px;
  border-color: #009688;
  text-align: center;
}

.card:hover {
  cursor: pointer;
  box-shadow: 0 16px 32px 0 rgba(0, 0, 0, 0.2);
  background-color: #009688;
  color: #b2dfdb;
  border: solid 10px;
  border-color: #b2dfdb;
}

.grid-container {
  display: grid;
  grid-gap: 50px 20px;
  grid-template-columns: auto auto auto;
  padding: 30px 60px;
  padding-left: 100px;
}
